#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Adicional */

/* *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url('https://wallpaperaccess.com/full/20993.jpg');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  padding: 10px 8%;
}

.color{
  color: white;
  font-weight: bold;
} */